.bg-dark {
    background-color: #0d6efd!important;
}
.container{
    margin: auto;
    margin-top: 20px;
    /* border: 3px solid black; */
}
.col-md-, .col-lg-4{
    margin-bottom: 20px;
}
.sty{
    font-size: 18px !important;
    color: black !important;
}
.num{
    width: 80px;
    height: 30px;
    border: 3px solid black;
    border-radius: 5px;
    font-size: 18px;
    padding: 5px;
}
.uk-border-circle{
    width: 100px !important;
    height: 100px !important;
}
.fa-cart-arrow-down{
    color: white;
    font-size: 50px;
    cursor: pointer;
    padding-left: 20px;
}

.container-fluid > h2{
font-size: 50px;
text-transform : uppercase;
font-family: var(Arial);
}

.uk-table td {
    padding: 23px 5px;
}

.uk-text-truncate {
    max-width: 80%;
    overflow: INITIAL;
    text-overflow: ellipsis;
    white-space: nowrap;
}



.container, .container-lg, .container-md, .container-sm {
    max-width: 960px;
}

.container {
    margin: auto;
    margin-top: 20px;
}





.color{
    color:red;
  }



